@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}
body{
    background: #f6f6f6 !important;
}
main.doreaContent{
    font-family: "Poppins", sans-serif !important;
}
